[submodule "Externals/TreeViewEx"]
	path = Externals/TreeViewEx
	url = https://github.com/YoshihiroIto/TreeViewEx
[submodule "Externals/Livet2"]
	path = Externals/Livet2
	url = https://github.com/YoshihiroIto/Livet2
