[submodule "Livet2"]
    path =  Livet2
    url=https://github.com/YoshihiroIto/Livet2.git
[submodule "libgit2sharp"]
	path = libgit2sharp
	url = https://github.com/YoshihiroIto/libgit2sharp
[submodule "Externals/TreeViewEx"]
	path = Externals/TreeViewEx
	url = https://github.com/YoshihiroIto/TreeViewEx
